@media only screen and (max-width: 720px) {
  .slideshow-slides h1 {
    font-size: 24.5px;
  }
  .slideshow-slides h2 {
    font-size: 17.5px;
  }
  .slideshow-slides h3,
  .slideshow-slides h4,
  .slideshow-slides h5,
  .slideshow-slides h6,
  .slideshow-slides p {
    font-size: 14px;
  }
}

.slideshow-container {
  position: relative;
}

.slideshow-slides {
  position: fixed;
  width: 100%;
}

.slideshow-container a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  opacity: 0;

  -webkit-transition: opacity 1s;
  transition: opacity 1s;

  pointer-events: none;
}

.slideshow-container a.show {
  opacity: 1;
  pointer-events: auto;
}

.slideshow-container .slideshow-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.slideshow-slides > a > div {
  position: absolute;
  margin: 0;
}

.slideshow-slides > a > div > * {
  margin: 0;
}

/* controls */
.slideshow-container .icon-chevron-left,
.slideshow-container .icon-chevron-right {
  position: absolute;
  top: 50%;
  margin-top: -7px;

  color: #fff;
  opacity: .5;

  -webkit-transition: background-color .3s, color .15s, box-shadow .3s, opacity .3s;
  transition: background-color .3s, color .15s, box-shadow .3s, opacity .3s;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slideshow-container .icon-chevron-left:hover,
.slideshow-container .icon-chevron-right:hover {
  color: #fff;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
  cursor: pointer;
}
.slideshow-container .icon-chevron-left:active,
.slideshow-container .icon-chevron-right:active {
  color: #aaa;
  text-shadow: none;
}
.slideshow-container .icon-chevron-left {
  left: 15px;
}
.slideshow-container .icon-chevron-right {
  right: 15px;
}

.slideshow-container .ctrl-group {
  position: absolute;
  left: 50%;
  bottom: 5px;
  opacity: .5;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slideshow-container .ctrl-group:hover {
  opacity: 1;
}

.slideshow-container .ctrl {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2px;

  -webkit-border-radius: 100%;
  border-radius: 100%;

  border: 1px solid #fff;

  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.slideshow-container .ctrl:hover {
  cursor: pointer;
}

.slideshow-container .ctrl.current {
  background-color: #fff;
}
